@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('animation.css');
*,
*::after,
*::before {
    cursor: url(/assets/img/cursor.png), url(/assets/img/cursor.png), auto;
    margin: 0;
    padding: 0;
}

body {
    cursor: url(/assets/img/cursor.png), url(/assets/img/cursor.png), auto;
    overflow-y: scroll;
}

body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    width: 100%;
    overflow-x: hidden;
    background-color: #FEE600;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: underline solid black 2px;
    text-underline-offset: 5px;
    color: inherit;
}

a:hover {
    cursor: url(/assets/img/hover.png), url(/assets/img/hover.png), auto;
    text-decoration: none;
}

header {
    height: 70px;
    max-width: 100%;
    overflow: hidden;
    align-items: center;
    background-color: #fee600;
    position: fixed;
    top: 0;
    z-index: 1;
}

header hr {
    border: 7px solid black;
    background: transparent;
    position: absolute;
    width: 100%;
    top: 63px;
    left: 0;
    z-index: 1;
}

.scroll {
    display: flex;
    padding-left: 97px;
}

header h2 {
    width: 2600px;
    font-weight: 950;
    font-size: 40px;
    line-height: 61px;
}

.img {
    border-right: 7px solid black;
    padding: 12px 30px;
    height: auto;
    background-color: #FEE600;
    position: absolute;
    z-index: 1;
}

.img img {
    width: 37.31px;
}

.linear {
    animation: linear-flow2 40s linear infinite;
    animation-delay: -39s;
    max-width: 1410px;
}

.follow-up {
    animation: linear-flow 40s linear infinite;
    animation-delay: -19s;
    max-width: 1410px;
}

main {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 150px;
}

h1 {
    font-weight: 950;
    font-size: 47px;
    line-height: 62px;
}

h2 {
    font-weight: 950;
}

.home-link {
    margin-top: 24px;
    font-weight: 950;
    font-size: 33px;
    line-height: 40px;
}

.container {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    margin-top: 75px;
    margin-bottom: 260px;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.about {
    width: 575px;
    right: 20px;
}

footer {
    border-top: 7px solid black;
    font-style: normal;
    font-weight: 900;
    font-size: 84px;
    height: 137px;
    line-height: 223px;
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
}

.text {
    width: 20000px;
    padding-left: 300px;
    /* animation: linear-flow3 10s ease-in-out infinite; */
}

.foot1 {
    animation: linear-flow2 40s linear infinite;
    animation-delay: -39s;
}

.foot2 {
    animation: linear-flow 40s linear infinite;
    animation-delay: -19s;
}

.box1 {
    border-right: 7px solid black;
    position: absolute;
    background-color: #FEE600;
    width: 270px;
    padding-top: 48px;
    height: 300px;
    z-index: 1;
}

section {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 23%;
    border: 4px solid black;
    margin-bottom: 23px;
    height: 270px;
    position: relative;
}

.inner {
    padding: 8px 14px 0 8px;
}

.full {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    position: absolute;
    bottom: 0;
    margin: 0 14px 17px 14px;
}

.card p {
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
}

.card img {
    width: 12px;
}

.inner img {
    width: 12px;
}

#small img {
    width: 18px;
}

.home {
    display: flex;
    max-width: 100%;
    margin-bottom: 300px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container2 p {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.head {
    max-width: 56%;
}

.container2 {
    max-width: 40%;
}

.narrative {
    width: 90%;
    border: 4px solid black;
    padding: 50px;
    padding-right: 0;
    height: 500px;
    position: relative;
}

#textbox {
    width: 90%;
    height: 400px;
    margin-top: 20px;
    padding: 20px;
    font-size: 35px;
    background-color: transparent;
    border: 4px solid black;
}

.off {
    display: none;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 72px;
}

#preview {
    text-transform: lowercase;
}

#write,
#read {
    border: 4px solid black;
    padding: 5px 14px;
    cursor: pointer;
    border-bottom: none;
}

#write {
    border-right: none;
}

#write:hover,
#read:hover {
    cursor: url(/assets/img/hover.png), url(/assets/img/hover.png), auto;
    padding: 10px;
    transform: translateY(-5px);
    transition-timing-function: ease-in-out;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
}

#write:hover~#read {
    border-left: none;
}

@keyframes linear-flow {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}

@keyframes linear-flow2 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes linear-flow3 {
    0% {
        transform: translateX(65%);
    }
    100% {
        transform: translateX(-80%);
    }
}


/* @keyframes linear-flow {
    0% {
        transform: translateX(42%);
        -124%
    }
    100% {
        transform: translateX(-200%);
    }
}

@keyframes linear-flow2 {
    0% {
        transform: translateX(-58%);
    }
    -25%
    100% {
        transform: translateX(-100%);
    }
} */