@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import url('animation.css');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    width: 100%;
    overflow-x: hidden;
    background-color: #FEE600;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: underline solid black 2px;
    text-underline-offset: 5px;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

header {
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 73px;
    border-bottom: 7px solid black;
    position: relative;
}

header h2 {
    width: 2600px;
    font-weight: 900;
    font-size: 50px;
    line-height: 61px;
}

.img {
    border-right: 7px solid black;
    margin-right: 17px;
    border-bottom: 7px solid black;
    padding: 0 35px;
    padding-top: 20px;
    background-color: #FEE600;
    position: absolute;
    z-index: 1;
}

.img img {
    width: 37.31px;
}

.follow-up {
    flex: 0 0 100%;
    animation: linear-flow2 10s ease-in-out 4s infinite;
}

.linear {
    flex: 0 0 100%;
    animation: linear-flow 10s ease-in-out infinite;
}

main {
    margin-left: 34px;
    margin-right: 34px;
}

h1 {
    font-weight: 900;
    font-size: 51px;
    line-height: 62px;
    width: 757px;
}

.home-link {
    margin-top: 212px;
    font-weight: 900;
    font-size: 33px;
    line-height: 40px;
}

.container {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    margin-top: 75px;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.about {
    width: 575px;
    right: 20px;
}

footer {
    margin-top: 234px;
    border-top: 7px solid black;
    font-style: normal;
    font-weight: 900;
    font-size: 184px;
    height: 244px;
    line-height: 223px;
    position: relative;
    overflow: hidden;
}

.text {
    width: 1926px;
    margin-left: 300px;
    animation: linear-flow3 10s ease-in-out infinite;
}

.box1 {
    border-right: 7px solid black;
    position: absolute;
    background-color: #FEE600;
    width: 324px;
    padding-left: -12px;
    padding-right: -6px;
    padding-top: 88px;
    height: 300px;
    z-index: 1;
}

@keyframes linear-flow {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-70%);
    }
}

@keyframes linear-flow2 {
    0% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(-166%);
    }
}

@keyframes linear-flow3 {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-98%);
    }
}